<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="conatainer" style = "text-align: center">
        {% include 'navbar.html'%}
        <h1>Our services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Enim voluptatibus odit provident officia assumenda aperiam 
        quam odio nemo cum error illo incidunt natus iusto illum,
         numquam debitis recusandae aut aspernatur facere rerum eaque. 
         Error recusandae aut magnam voluptatum, ipsam incidunt dolorem 
         sed quidem, ratione dolorum, fugit ex iusto neque est!</p>
    </div>
</body>
</html>
